<h1>These are the Listings</h1>

<div class="listings">
	<% @listings.each do |listing| %>
		<a class="listings" href="listings/<%=listing.id%>"><%=listing.name%></a>
    <p>$<%= listing.price_per_night %></p>
    <img class="listings_images" src="<%= listing.photo_url %>">
			<%= form_for listing, url: listing_path(listing), html: {method: "delete"} do |f| %>
			<%= f.submit "Remove From Listings" %>
		<% end %>
	<% end %>
</div>
