<h1>Welcome to <%=@listing.name%></h1>
<h4>Address: <%=@listing.address%></h4>
<h4>Price Per Night: <%=@listing.price_per_night%></h4>
<p>Description: <%=@listing.description%></p>
<img src="<%=@listing.photo_url%>">
<a href="/listings">Back to Listings</a>




